@charset "utf-8";
/* CSS Document */

body
{
margin:auto;
}
.clear
{
clear:both;
}
.base
{
width:950px;
height:auto;
margin:auto;
}
#warpper
{
width:933px;
height:auto;
margin:auto;
margin-top:40px;
}
#header
{
width:933px;
height:360px;
background-image:url(../homeimg/headerbg_03.jpg);
background-repeat:no-repeat;
border-bottom:1px solid #000000;
}
.headerleft
{
width:380px;
height:350px;
float:left;
}
.headright
{
width:552px;
height:350px;
float:left;
}
.scrlmenu
{
width:920px;
height:268px;
margin:auto;
margin-top:20px;
}
.scrlA
{
width:298px;
height:268px;
float:left;
}
.scrlAimg
{
width:298px;
height:221px;
background-image:url(../homeimg/scrlA_03.jpg);
background-repeat:no-repeat;
font-size:22px;
color:#FFFFFF;
line-height:40px;
text-align:center;
}
.scrlAtxt
{
width:214px;
height:45px;
font-size:10px;
text-align:center;
margin-left:35px;
}
.scrlB
{
width:297px;
height:268px;
float:left;
}
.scrlBimg
{
width:298px;
height:221px;
background-image:url(../homeimg/scrlB_09.jpg);
background-repeat:no-repeat;
font-size:22px;
color:#FFFFFF;
line-height:39px;
text-align:center;
}
.scrlBtxt
{
width:214px;
height:45px;
font-size:10px;
text-align:center;
margin-left:35px;
}
.scrlC
{
width:299px;
height:268px;
float:left;
}
.scrlCimg
{
width:298px;
height:221px;
background-image:url(../homeimg/scrlC_11.jpg);
background-repeat:no-repeat;
font-size:22px;
color:#FFFFFF;
line-height:40px;
text-align:center;
}
.scrlCtxt
{
width:214px;
height:45px;
font-size:10px;
text-align:center;
margin-left:35px;
}
.categorycont
{
width:908px;
height:249px;
margin-top:25px;
border-bottom:1px solid #000000;
}
.content
{
width:908px;
height:auto;
margin-top:15px;
}
.contentleft
{
width:485px;
height:443px;
float:left;
}
.cntntleftimg
{
width:485px;
height:308px;
}
.contlefttxt
{
width:485px;
height:141px;
}
.contentright
{
width:423px;
height:auto;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
.footer
{
width:933px;
height:332px;
margin:auto;
background-image:url(../homeimg/footerbg_15.jpg);
background-repeat:no-repeat;
}
.youtubetxt
{
width:345px;
height:62px;
color:#b30000;
font-size:16px;
text-align:center;
margin-left:50px;
}
.links_ul
{
width:314px;
height:59px;
list-style:none;
margin-left:10px;
margin-top:5px;
}
.links_li
{
width:59px;
height:59px;
float:left;
list-style:none;
margin-left:3px;
}
.footer_table
{
margin-left:30px;
margin-top:20px;
}
.paypal
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#263c72;
text-align:center;
}
.spanpaypal
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#507297;
text-align:center;
}
.fot1
{
border-left:1px solid #8b9194;
font-size:12px;
padding-left:10px;
}
.headleftxt
{
color:#A7484F;
font-size:16px;
height:84px;
margin-left:40px;
margin-top:251px;
text-align:center;
width:307px;
}