RewriteEngine on

RewriteRule ^admin - [R=404]
RewriteRule ^third_party/(.*) third_party/$1 [L]
RewriteRule ^css/(.*) css/$1 [L]
RewriteRule ^js/(.*) js/$1 [L]
RewriteRule ^images/(.*) images/$1 [L]
RewriteRule ^flash/(.*) flash/$1 [L]

RewriteCond %{SCRIPT_FILENAME} !index.php

RewriteRule .* index.php/$0

